html {
  /* background-color: rgb(89, 158, 100); */
  background-image: url(./images/wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-color: #f9f4c3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.div-buttons {
  display: flex;
  justify-content: center;
}
