html {
  background-image: url(../images/game-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-image: url(../images/desert.png);
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 30%;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

#start {
  position: relative;
  top: -70px;
  left: 200px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #f9f4c3;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  position: relative; 
  top: 180px;
  left: 170px;
  width: 100px;
  height: 40px;
  color: #f9f4c3;
}

ul {
  color: #f9f4c3;
  position: relative;
  top: 165px;
  left: 145px;
  width: 250px;
  height: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

